<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util
	    http://www.springframework.org/schema/util/spring-util-3.2.xsd
	    ">
	    
	<context:component-scan base-package="com.sharingif.cube" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>	
	
	<bean id="requestMappingHandlerMapping" class="com.sharingif.cube.core.method.handler.mapping.RequestMappingHandlerMapping" />
	
	<bean id="defaultMappingHandlerAdapter" class="com.sharingif.cube.core.method.handler.adapter.DefaultMappingHandlerAdapter">
		<property name="argumentResolvers">
			<list>
				<bean class="com.sharingif.cube.core.method.handler.adapter.MapHandlerMethodArgumentResolver" />
			</list>
		</property>
		<property name="bindingInitializer">
			<bean class="com.sharingif.cube.core.method.bind.support.ConfigurableBindingInitializer">
				<property name="validator">
					<bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
				</property>
				<property name="conversionService">
					<bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />
				</property>
			</bean>
		</property>
		<property name="handlerMethodChain">
			<bean class="com.sharingif.cube.core.method.chain.MultiHandlerMethodChain">
				<property name="chains">
					<list>
						<bean class="com.sharingif.cube.core.method.chain.MonitorPerformanceChain" />
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="exceptionMappingHandlerAdapter" class="com.sharingif.cube.core.method.handler.adapter.DefaultMappingHandlerAdapter">
		<property name="argumentResolvers">
			<list>
				<bean class="com.sharingif.cube.core.method.handler.adapter.MapHandlerMethodArgumentResolver" />
			</list>
		</property>
		<property name="bindingInitializer">
			<bean class="com.sharingif.cube.core.method.bind.support.ConfigurableBindingInitializer">
				<property name="validator">
					<bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
				</property>
				<property name="conversionService">
					<bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />
				</property>
			</bean>
		</property>
		<property name="handlerMethodChain">
			<bean class="com.sharingif.cube.core.method.chain.MultiHandlerMethodChain">
				<property name="chains">
					<list>
						<bean class="com.sharingif.cube.core.method.chain.MonitorPerformanceChain" />
						<bean class="com.sharingif.cube.core.handler.method.chain.ExceptionHandlerMethodChain" />
					</list>
				</property>
			</bean>
		</property>
	</bean>
	
</beans>